:root {
    --branding-color: #796A62;
    --secondary-color: #edeae7;
    --heading-font-family: 'Kaisei HarunoUmi', serif;
    --default-font-family: 'Azeret Mono', monospace;
}

body {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h2 {
    font-size: 48px;
}

h4 {
    font-size: 48px;
}

p {
    font-size: 20px;
    line-height: 30px;
}
.nav {
    padding: 20px 0;
}

.nav li {
    display: inline;
    list-style: none;
    margin-left: 24px;
}

.nav li a {
    text-decoration: none;
    color: var(--branding-color);
    line-height: 42px;
}

.nav a:hover, .nav li.active a {
    color:black !important;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

.nav-item {
    padding: 0 20px;
}

.logo {
    max-height: 42px;
}


.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 10px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h1 {
    font-weight: bold;
    font-size: 96px;
    line-height: 1.5;
}

.hero h2 {
    font-family: 'Azeret Mono', monospace;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
}

.about-section {
    padding: 40px 20px;
}

.about-section h1 {
    font-size: 64px;
    line-height: 80px;
}

.about-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
    line-height: 1.5;
}

.about-section p {
    font-weight: 300;
    font-size: 16px;
}

.about-section-content {
    margin: 20px;
}

.profile-picture {
    border-radius: 10px;
    width: 500px;
    height: auto;
    margin-right: 24px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    border-radius: 4px;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.project-hero {
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 40px;
}

.project-hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.project-hero h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.5;
}

.project-hero h2 {
    font-family: 'Azeret Mono', monospace;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
    color: var(--branding-color);
}

.content {
    text-align: center;
    padding: 80px 10px;
}

.content h3 {
    font-weight: bold;
    font-family: var(--default-font-family);
    font-size: 24px;
}

.contact-link {
    color: var(--branding-color);
    text-decoration: none;
}

footer {
    margin: 60px 0;
}

footer .contact-box {
    background-color: var(--secondary-color);
    padding: 30px 60px;
    border-radius: 10px;
    margin: 20px;
}

footer .contact-box p {
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    font-size: 22px;
    color: var(--branding-color);
}

footer .email-link:hover {
    color: black;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
}

@media (max-width: 960px) {
    .hero p {
        font-size: 22px;
    }
    .hero h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 44px;
    }
    .quote {
        font-size: 16px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
    .hero {
        padding: 80px 20px;
    }
    .about-section {
        text-align: center;
        padding: 0;
    }

    .about-section h1 {
        font-size: 44px;
    }
    .about-section p {
        font-size: 16px;
    }

    .contact-link {
        font-size: 16px;
    }

    .nav {
        padding: 0;
        margin-top: 10px;
        font-size: 14px;
    }

    .project-hero h1 {
        font-size: 44px;
    }

    .project-hero h2 {
        font-size: 22px;
    }

    .email-link {
        font-size: 18px;
    }

}


